{% extends "catalog/base.html" %}
{% block header %}
<nav id="header" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Catalog App</a>
        </div>
        <div id="navbar" class="nav navbar-nav navbar-right">
            <div id="signIn" class="btn btn-default navbar-btn {{showSignIn}}">
                <a href="/catalog/login">Sign In</a>
            </div>
            <div id="signOut" class="btn btn-default navbar-btn {{showLinks}}">
                <a href="/catalog/logout">Sign Out</a>
            </div>
        </div>
    </div>
</nav>

{% endblock header %}

{% block content %}
<div class="protected">
    <h2><a href="/catalog/item/{{category_id}}/add" class="protected">Add a new Item to
        This Category</a></h2>
    <br/>
</div>
<table>
    {% for i in categoryitems %}
    <tr>
        <td>{{i.title}}</td>
        <td>{{i.description}}</td>
        <td class="protected"><a href="/catalog/item/{{i.id}}/edit">Edit</a></td>
        <td class="protected"><a href="/catalog/item/{{i.id}}/delete">Delete</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock content%}