<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel=stylesheet type=text/css
          href="{{ url_for('static', filename='css/styles.css') }}">
    <title>{{category_name}}: Add</title>
</head>
<body>
<h1>Add New Item to Category: {{category_name}}</h1>

<form action="#" method='post'>


    <p>Title:</p>
    <input type='text' size='30' name='title' placeholder="Title">

    <p>Description:</p>
    <input type='text' size='30' name='description' placeholder="Description">

    <button type='submit' value='submit'>Add Item</button>


    <a href='/catalog/category/{{category_id}}/items'>Cancel</a>


</form>
</body>
</html>