<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel=stylesheet type=text/css
          href="{{ url_for('static', filename='styles.css') }}">
    <title>Catalog App</title>
</head>
<body>
<div>
    <div id="signIn" class="{{showSignIn}}">
        <a href="/login">Sign In</a>
    </div>
    <div id="signOut" class="{{showLinks}}">
        <a href="/logout">Sign Out</a>
    </div>

    <div class='flash'>
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li><strong> {{ message }} </strong></li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

    <div class="{{showLinks}}">
        <h2><a href="/category/add">Add a new Category</a></h2>
        <br />
    </div>
    <table>
        {% for i in categories %}
        <tr>
            <td><a href="/category/{{i.id}}/items">{{i.name}}</a></td>
            <td><a href="/category/{{i.id}}/edit" class="{{showLinks}}">Edit</a></td>

            <td><a href="/category/{{i.id}}/delete"
                   class="{{showLinks}}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>