<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel=stylesheet type=text/css
          href="{{ url_for('static', filename='styles.css') }}">
    <title>Items in {{categoryname}}</title>
</head>
<body>
<div>
    <div class='flash'>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li><strong> {{ message }} </strong></li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </div>
    {% for i in categoryitems %}
    <div>
        <span><p>{{i.title}}</p></span>
        <span><p>{{i.description}}</p></span>
    </div>
    {% endfor %}
</div>
</div>
</body>
</html>